/*------- Genral part -------*/

body {
  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
  background-color: #FFC300;
  color: white;
}

h1 {
  text-align: center;
  color: #581845;
}

h2 {
  padding: 3px;
  margin: 5px;
}

a {
    text-decoration: none;
}

/*------- Login part -------*/
#login ul {
    position:absolute;
    top:0;
    right:5%;
}

#login ul li {
    list-style: none;
    display:inline-block;
    margin: 5px;
    padding: 5px;
}

#login ul li a {
    color: #C70039;
}

#login ul li a:hover {
    color: grey;
}

#login ul li a:visited {
    color:#900C3F;
    font-style: italic;
}

/*------- NavBar part -------*/

#siteTitle {
    border-bottom: 1px black solid;
}

#navbar {
    float:left;
    width: 20%;
    height: 300px;
    margin-top: 15px;
}

#navbar ul {
    border: 1px white solid;
    background-color: #900C3F;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding-left: 2px;
    padding-right: 0px;
}

#navbar ul li {
    display:inline-block;
    list-style-position: inside;
    padding: 5px;
}

#navbar ul li a{
    color: white;
}

/*------- Content part -------*/

#content {
    float:left;
    width:78%;
    height: 800px;
    margin-top: 15px;
}
/*------ Error Divs --------*/

.error {
    border: 1px red solid;
    padding: 5px;
    color: red;
}
