body{
  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
  background-color: black;
  background-image: url(/static/images/disco-ball.jpg);
  background-attachment:fixed;
  color: white;
}

h1{
  text-align: center;
}

h2 {
  padding: 3px;
  margin: 5px;
}
