{% extends "base.html" %}
{% block content %}
     <div id="login">
        <p>
          <ul>
            <li><a href='/login'> Login </a></li>
            <li><a href='/logout'> Logout </a></li>
          </ul>
        </p>
      </div>
      <div id='siteTitle'>
       <h1>All night DJ </h1>
      </div>
      <div id="signin">
          <form name="signin_form" action="" method="POST">
            {{ form.csrf_token  }}
            <p>
              <h2> S'inscrire sur AllNightDj </h2>
            </p>
            <p>
              Pseudo :
            {{form.new_user_name}}
          </p>
          <p>
            E-mail :
            {{form.new_user_mail}}
          </p>
          <p>
            Mot de passe :
            {{form.new_user_password}}
          </p>
          <p>
            Confirmer le mot de passe :
            {{form.confirm}}
          </p>
            <p>
              <input id="submit" value="Créer mon compte" type='submit'/>
            </p>
          </form>
      </div>
      <div class='error'>
        {% if error %}
        <p>
          Tetstetetetststertrtrtetetetstst
          {{error}}
        </p>
        {% endif %}
      </div>
{% endblock %}
