{% extends "base.html" %}
{% block style %}
{{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/new_playlist.css') }}">
{% endblock %}
{% block content %}
{% include 'deezer-navbar.html' %}
<div id=content>
<div id="new_playlist">
  <form name="playlist_form" action="" method="POST">
    {{ form.csrf_token  }}
    <p>
      <h2> Créer une playlist </h2>
    </p>
    <p>
    {{form.new_playlist_name}}
  </p>
    <p>
      <input id="submit" value="Créer la playlist" type='submit'/>
    </p>
  </form>
</div>
{% if success %}
  <div class='message,forms'>
    <p style="color:green;text-decoration:bold;">
      La playlist {{playlist_name}} a été créée avec le code : {{ id }}
      <br/>
      <a href="/playlists?playlist-code={{ id }}">Fusionner des playlists</a>
    </p>
 </div>
  {% endif %}
  </div>
{% endblock %}
