{% extends "base.html" %}
{% block content %}
      <h1>All night DJ </h1>
      {%if playlists%}

      <script>
      function getTimeRemaining(endtime){
        console.log("getTimeRemaining::Entering function")
      var t = endtime - Date.parse(new Date());
        console.log("getTimeRemaining::t=" + parseInt(t));
      var seconds = Math.floor( (t/1000) % 60 );
      console.log("getTimeRemaining::seconds=" + parseInt(seconds));
      var minutes = Math.floor( (t/1000/60) % 60 );
      console.log("getTimeRemaining::minutes=" + parseInt(minutes));
      return {
        'total': t,
        'minutes': minutes,
        'seconds': seconds
        };
      }

      function initializeClock(id, endtime) {
        var playlistToPlay = 0;
        console.log('initializeClock::endtime=' + parseInt(endtime));
      var clock = document.getElementById(id);
      var timeinterval = setInterval(function(){
      var t = getTimeRemaining(endtime);
      console.log("initializeClock::endTime=" + parseInt(t.minutes));
      clock.innerHTML = 'days: ' + t.days + '<br>' +
                        'hours: '+ t.hours + '<br>' +
                        'minutes: ' + t.minutes + '<br>' +
                        'seconds: ' + t.seconds;
        if(t.total<=0){
          changePlaylist(playlistToPlay++);
        }
      },1000);
    }

    function changePlaylist(playlistToPlay) {
      console.log("****++++++------+++++****")
      var size = {{size}};
      console.log("Size : " + parseInt(size));
      var pl = {{playlists|tojson}};
      console.log("Valeur de pl : " + pl)

      var duration = pl[playlistToPlay+1] * 1000;

      console.log("ChangePlaylist::Given duration in milliseconds : "  + duration);
      var endTime = Date.parse(new Date()) + parseInt(duration);

      initializeClock('clockdiv', endTime);

      var url="https://www.deezer.com/plugins/player"
      + "?format=classic&autoplay=true"
      + "&playlist=true&width=700&height=350"
      + "&color=007FEB&layout=dark&size=medium"
      + "&type=playlist&app_id=175951&id="
      + pl[playlistToPlay];

      console.log("Url = " + url);
      var iframe =  '<iframe scrolling=\"no\" '
                      +'frameborder=\"0\" '
                      +'allowTransparency="true" '
                      + 'src=' + url
                      + ' width=\"700\" '
                      + 'height=\"350\">'
                      +'</iframe>\n'
                      +'<input type=\"button\" onclick=\"location.href = \'/user\'\" value=\"Retour\"/>';
      console.log("Iframe = " + iframe);
      document.write(iframe);

    }


    function main() {
      document.write('<div id="clockdiv"></div>');
      changePlaylist(0);
    }

      window.onload = main();
      </script>

      {%endif%}
{% endblock %}
