{% extends "base.html" %}
{% block content %}
      <h1>All night DJ </h1>
      <div id=user>
      <h2>Hello {{user['name']}}</h2>
        <p>
          <ul>
            <li><a href='/'>Retour à la homepage</a></li>
            <li><a href='/playlists'>Mes playlists</a></li>
            <li><a href='/logout'>Logout</a></li>
          </ul>
        </p>
        <div id=playlist>
          <h2>{{playlist_title}}</h2>
        </div>
      </div>
      {% if tracklist %}
      <div id=tracklist>
        <ul>
        {% for t in tracklist %}
          <li>{{t['title']}} - {{t['artist']['name']}} - {{t['album']['title']}} - <a href={{t['preview']}}>Extrait</a></li>
        {% endfor%}
      </ul>
      </div>
      {% endif %}
{% endblock %}
