{% extends "base.html" %}
{% block content %}
      <h1>All night DJ </h1>
      <div id=user>
      <h2>Hello {{user['name']}}</h2>
        <p>
          <ul>
            <li><a href='/'>Retour à la homepage</a></li>
            <li><a href='/playlists'>Mes playlists</a></li>
            <li><a href='/logout'>Logout</a></li>
          </ul>
        </p>
      </div>
      {% if playlists %}
      <div id=playlists>
        <form action="/store_playlist">
          {% for playlist in playlists %}
            <input type="checkbox" name="playlist" value="{{playlist['id']}}">{{playlist['title']}} <a href="/tracklist?pid={{playlist['id']}}">Voir la liste des titres</a><br>
          {% endfor %}
          <input type="submit" value="Play"/>
        </form>
      </div>
      {% endif %}
      {% if tracklist %}
      <div id=tracklist>
        <h2>Liste des titres de la playlist {{playlist_title}}</h2>
        <ul>
        {% for t in tracklist %}
          <li>{{t['title']}} - {{t['artist']['name']}} - {{t['album']['title']}} - <a href={{t['preview']}}>Extrait</a></li>
        {% endfor%}
      </ul>
      </div>
      {% endif %}
      {% if form %}
      <div id=form>
        <form name="playlist_form" action="" method="POST">
          {{form.example}}
        </form>
      </div>
      {% endif %}
{% endblock %}
